*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
}
body{
    transition: 2s ;
}
.main{
    
    width: 100% ;
    height: 100vh ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}
.container{
   width: 30rem ;
   padding: 10px ;
   border-radius: 10px ;
   background-color: white ;
   font-family: 'Oswald', sans-serif ;
   font-size: 35px ;
   text-align: center ;
}
button{
    margin-top: 5px ;
    font-size: 38px ;
    display: block ;
    width: 100% ;
    color: white ;
    background-color: black ;
    border: none ;
    border-radius: 5px ;
}

@media only screen and (max-width : 550px ) 
{
    .container{
        width: 20rem ;
        padding: 6px ;
        border-radius: 8px ;
        background-color: white  ;
        font-family: 'Oswald', sans-serif ;
        font-size: 25px ;
        text-align: center ;
     }
    
}