@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 80% Arial, Helvetica, sans-serif;
  color: #000;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

p
{ padding: 0 0 10px 0;
  color: #FFF;
  line-height: 1.7em;
  font-size: 145% }

img
{ border: 0;}

/*h1, h2, h3, h4, h5, h6 
{ font: bold 175% 'News Cycle', Arial, sans-serif;
  color: #fff;
  text-shadow: 1px 1px #000;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h2
{ font: bold 165% 'News Cycle', Arial, sans-serif;}

h3
{ font: bold 130% 'News Cycle', Arial, sans-serif;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% 'News Cycle', Arial, sans-serif;
  color: #FFF;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% 'News Cycle', Arial, sans-serif;
  color: #888;
  padding-bottom: 15px;}*/
  
/*span
{ color: #FFF;
  text-shadow: 1px 1px #fff;}*/

a, a:hover
{ color: #FFF;
  background: transparent;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, header, #banner, #menubar, #site_content, footer, #content_grey, nav, .login
{ margin-left: auto; 
  margin-right: auto;}
.login{
/*    padding: 114px 0px 0px 0px;*/
}
#main
{ background: #1D1D1D url(../images/pattern.png) repeat;}
  
header
{ background: #1D1D1D url(../images/pattern.png) repeat;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}

#banner
{ width: 940px;
  position: relative;
  padding: 15px 0 0 0;
  background: transparent;
  height: 120px;}
 
nav
{ width: 940px;
  height: 50px;}  
  
#menubar
{ width: 940px;
  height: 50px;
  float: left;
  text-align: center; 
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border: 7px 7px 0px 0px;} 
  
#welcome
{ width: 880px;
  float: left;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 10px 20px;
  background: transparent;} 
   
#welcome h2
{ font: normal 500% 'News Cycle', Arial, sans-serif;
  letter-spacing: -2px;
  text-shadow: 1px 1px #000;
  color: #FFF;}
  
ul#nav
{ margin:0;}

ul#nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#nav li a
{ float: left;
  font: bold 200% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 1px 1px #000;
  padding: 6px 20px 0 20px;
  background: transparent; 
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;} 
  
ul#nav li.current a, ul#nav li:hover a
{ color: #002256; 
  text-shadow: 1px 1px #43A9FF;}

#site_content
{ width: 940px;
  overflow: hidden;
  margin-bottom: 30px;
  background: #323232;
  border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;;
  -webkit-border: 0px 0px 7px 7px;} 

.sidebar_container
{ float: right;
  margin: 20px 10px 0 10px;
  width: 210px;
  padding: 0;}

.sidebar
{ float: left;
  width: 190px;
  padding-left: 10px;
  margin-bottom: 10px;}

.sidebar_item
{ width: 190px;}

.sidebar h2
{ padding: 5px 0 0 0;
  font: bold 250% 'News Cycle', Arial, sans-serif;
  height: 30px;
  text-shadow: 1px 1px #000;
  color: #43A9FF;}

.sidebar h3
{ color: #FFF;}  

#content
{ width: 680px;
  margin: 0 0 20px 20px;
  float: left;}

.content_item
{ width: 680px;
  margin-top: 20px;
  margin-bottom: 20px;}
 
.content_imagetext
{ width: 680px;
  padding: 5px;
  margin: 20px 0 0 0;
  float: left;}
 
.content_image
{ float: left; 
  width: 150px;
  height: 150px;
  margin: 0 20px 10px 0;}
  
.content_container
{
/* width: 320px;
  padding: 5px;*/
  margin: 20px 10px 0 0;
  float: left;}
  
footer
{ height: 50px;
  padding-bottom: 30px;
  font-weight: bold;
  text-align: center; 
  text-shadow: 1px 1px #000;
  color: #FFF;}

footer a
{ color: #FFF;
  text-decoration: none;
  padding-bottom: 20px;
font: normal 150% Arial, Helvetica, sans-serif;
}

footer a:hover
{ text-decoration: underline;
  color: #FFF;}

 .readmore a
{ color: #FFF;
  text-shadow: 1px 1px #004C8C;}
 
 .button_small
{ font: normal 150% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 80px;
  padding: 5px 2px 19px 2px;
  border: 1px solid #FFF; 
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
.button_small a
{ color: #FFF;
  padding-left: 5px;
  text-shadow: 1px 1px #004C8C;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;
  text-shadow: none;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  color: #FFF;}

.slideshow
{ width: 940px;
  height: 300px;
  float: left;}  
  
/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 940px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 0;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 940px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: transparent url(../images/transparent.png) repeat;  
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px #000;}
.error{
        font-size: 17px;
    color: #a94442;
}
 